body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#e2d7f7;
}

.container{
    margin: 0 15px;
}

.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    display: none;
    box-shadow:0px 6px 20px rgb(144, 144, 144);
}

.form-box.active{
    display: block;
}

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    font-family:sans-self;
}

input,
select {
    width: 75%;
    padding: 10px;
    background:#eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
    margin-left: 50px;
    font-family:sans-self;
}

button{
    width: 75%;
    padding:10px;
    background: #783595;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
    margin-left: 50px;
    font-family:sans-self;
}

button:hover{
    background: #277508;
}

p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-family:sans-self;
}

p a{
    color: #0c3dcf;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}

.error-message{
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
    font-family:sans-self;
}

h1{
    font-size: 50px;
    text-align: top;
    font-family:sans-self;
}

span{
    color: #920808;
}

.box p{
    font-size: 22px;
    font-family:sans-self;
}

.box button{
    display: block;
    width: 300px;
    margin: 0 auto;
}